server_url: 'http://localhost:3000/api/ai/graph'
neo4j_url: 'http://localhost:7474/db/data'
decorate:
  _all:
  _node:
    data:
      links:
        - title: Expand...
          href: '{{config.server_url}}/cypher'
          method: 'POST'
          body:
            query: 'MATCH (u)-[e]-(v) WHERE ID(u)={{doc.metadata.id}} RETURN u,e,v'
  _edge:
    data:
      links:
        - title: Expand...
          href: '{{config.server_url}}/cypher'
          method: 'POST'
          body:
            query: 'MATCH (u)-[e]-(v) WHERE ID(e)={{doc.metadata.id}} RETURN u,e,v'
  Link:
    data:
      links:
        - title: Open
          href: '{{doc.data.href}}'
  Event:
    data:
      links:
        - title: Tweet
          href: 'https://twitter.com'
        - title: e-mail Event
          href: 'mailto://?to=&subject=mailto%20with%20examples&body=http://en.wikipedia.org/wiki/Mailto'
  Category:
    data:
      links:
        - title: "Google '{{doc.data.name}}'"
          href: 'https://www.google.de/search?q={{doc.data.name}}'
  Name:
    data:
      links:
        - title: "Google '{{doc.data.name}}'"
          href: 'https://www.google.de/search?q={{doc.data.name}}'
  Location:
    data:
      links:
        - title: "Show '{{doc.data.name}}' on map"
          href: 'http://maps.google.com/?q={{doc.data.name}}'
  TAGGED:
    data:
      links:
        - title: Google Tag
          href: 'https://www.google.com/'
  LINKS_TO:
    data:
      links:
        - title: Open Link
          href: '{{ value.href }}'
  User:
    data:
      links:
        - title: "Show '{{doc.data.screen_name}}' on Twitter"
          href: 'https://twitter.com/{{doc.data.screen_name}}'
